.block {
  color: black; }

.header {
  display: flex;
  flex-direction: column; }
  .header__img {
    position: absolute;
    z-index: 9999; }
    .header__img img {
      max-height: 100px; }

.menu {
  font-family: 'Work Sans'; }
  .menu--main {
    display: flex;
    flex-direction: row;
    background-color: yellow; }
  .menu__item {
    display: inline-block; }
  .menu__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase; }
