.block {
  color: black; }

.header {
  display: flex;
  flex-direction: row;
  background-color: #f8f5f0;
  height: 75px; }
  .header__img {
    max-width: 70px;
    z-index: 100;
    padding: 10px; }
    .header__img img {
      max-height: 100px; }
  .header__title {
    padding-top: 30px;
    padding-left: 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Work Sans"; }
  .header .button {
    display: inline;
    position: absolute;
    right: 50px;
    top: 20px;
    z-index: 999;
    font-size: 30px; }
  .header .button a {
    text-decoration: none; }
  .header .btn-open:after {
    color: black;
    content: "\f0c9";
    font-family: "FontAwesome";
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s; }
  .header .btn-open:hover:after {
    color: #b13239; }
  .header .btn-close:after {
    color: black;
    content: "\f00d";
    font-family: "FontAwesome";
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s; }
  .header .btn-close:hover:after {
    color: black; }
  @media (min-width: 48em) {
    .header {
      background-color: none;
      flex-direction: column; }
      .header__title {
        display: none; }
      .header__img {
        padding-left: 100px; }
      .header .button {
        display: none; } }

.menu {
  font-family: 'Work Sans'; }
  .menuWrapper {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 99;
    background-color: white;
    padding-left: 60px;
    padding-top: 60px; }
    .menuWrapper--active {
      display: inline; }
  .menu--main .menu__item {
    font-weight: 500; }
  .menu__items {
    width: 100%;
    margin: 15px;
    list-style-type: none; }
  .menu__item {
    padding: 5px; }
  .menu__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase; }
    .menu__link:hover {
      color: #b13239; }
    .menu__link--active {
      padding-bottom: 2px;
      border-bottom: 2px solid #b13239; }
  .menu--secondary .menu__link {
    font-size: 15px; }
  @media (min-width: 48em) {
    .menu {
      display: flex;
      flex-direction: row;
      padding-left: 100px; }
      .menuWrapper {
        display: inline;
        height: auto;
        width: 100%;
        overflow: auto;
        padding: 0; }
      .menu--main {
        height: 70px;
        background-color: white; }
        .menu--main .menu__item {
          padding-top: 10px;
          padding-right: 10%; }
      .menu--secondary {
        background-color: #f8f5f0; }
        .menu--secondary .menu__item {
          padding-right: 5%; }
      .menu__items {
        padding-left: 80px; }
      .menu__item {
        display: inline-block; } }

body {
  margin: 0; }
