// Fonts
// ------------------------------------------------------------

$font-base:						'Work Sans';
$font-heading:					$font-base;


$font-light:                    200;
$font-normal:                   400;
$font-bold:                     500;

// Breakpoints
// ------------------------------------------------------------

$bp-tiny:                          30em;
$bp-small:                         48em;
$bp-medium:                        64em;
$bp-large:                         80em;		
									
$space-multipliers: 0 1 2 3 4 5 6 7 8 9 10;

$color-a:						#f8f5f0;
$color-b:						#b13239;
