$module: 'grid';

.#{$module} {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $bp-small) {
        flex-direction: row;
    }

    &--small {
        flex-direction: row;
    }  
}