
$module: 'header';

.#{$module} {
    display: flex;
    flex-direction: column;

    &__img {
        position: absolute;
        z-index: 9999;
        img {
            max-height: 100px;
        }
    }
};