$module: 'heading';

.#{$module} {
    font-weight: $font-bold;

    &--1 {
        font-size: 30px;
    }

    &--2 {
        font-size: 12px;
        text-transform: uppercase;
        margin: 0;
    }

    &--3 {
        font-size: 17px;
    }

    &--center {
        text-align: center;
    }
}