$module: 'textcontent';

.#{$module} {
    font-weight: $font-light;
    
    &__link { 
        color: black;
    }

    &--center {
        text-align: center;
    }
    
    @media (min-width: $bp-small) {
        &--blogpost {
            margin-top: auto;
            padding-right: 20px;
        }
    }
}